* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --paragreph-color: blue;
    --text-color: #02007a;
    --text-main-color: #0000ff;
    --First-bg: #536DFE;
    --secnond-bg: #82B1FF;
    --therd-bg: #eee;
    --weigth-bold: bold;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--therd-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--text-main-color);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearFex {
    clear: both;
}

.container {
    margin-left: 50px;
    margin-right: 50px;
    padding-left: auto;
    padding-right: auto;
}

div .main-heading {
    position: relative;
    text-align: center;
    font-size: 40px;
    color: var(--text-main-color);
    margin-bottom: 50px;
    text-transform: capitalize;
}

.main-heading::after {
    content: '';
    width: 150px;
    position: absolute;
    background: var(--text-main-color);
    height: .5px;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}

.navgation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
}

.navgation .brandName {
    font-size: 30px;
    color: var(--therd-bg);
    color: var(--text-main-color);
}

.navgation ul {
    display: flex;
    gap: 1.5rem;
}

.navgation a {
    text-transform: capitalize;
    font-weight: var(--weigth-bold);
    color: var(--therd-bg);
    transition: 0.3s;
}

.navgation a:hover {
    color: var(--text-main-color);
}

.navgation .active {
    color: var(--text-main-color);
}


/*  navgation from mobile  */

.toggle {
    background: none;
    border: none;
    width: 30px;
    cursor: pointer;
    display: none;
}

.toggle span {
    display: block;
    background: var(--therd-bg);
    margin-bottom: 5px;
    height: 3px;
}


/* end navgation from mobile  */

.landing {
    height: calc(100vh);
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.500)), url(../image/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -99999;
}

.landing .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    width: 85%;
}

.landing h1 {
    margin-bottom: 2rem;
    font-size: 33px;
    color: white;
}

.landing h1 span {
    color: var(--text-main-color);
}

.landing p {
    margin: auto;
    line-height: 1.6;
    color: var(--therd-bg);
    text-transform: capitalize;
}


/* stert Editing setting */

.landing .settingBox {
    height: calc(100vh - 100px);
    background: var(--text-main-color);
    width: 200px;
    position: fixed;
    z-index: 999;
    transition: 0.3s;
    left: -200px;
    border: 1px solid;
    border-color: #eee #eee #eee transparent;
    border-radius: 0px 5px 5px 0px;
}

.landing .settingBox.open {
    left: 0px;
}

.landing .settingBox h3 {
    text-align: center;
    color: var(--text-color);
    margin-top: 0.7rem;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.landing .settingBox .icon {
    position: absolute;
    right: -31px;
    bottom: 100px;
    color: white;
    background-color: var(--text-main-color);
    padding: 15px;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid;
    border-color: #eee #eee #eee transparent;
    width: 10px;
    height: 10px;
    text-align: center;
}

.landing .settingBox .icon :nth-child(1) {
    right: 50%;
    top: 29%;
    transform: translateX(33%);
    color: white;
}

.landing .changeColor {
    margin: 20px 10px;
    text-align: center;
    background: #ffffff;
    padding: 1rem 1.8rem;
    border-radius: 5px;
}

.landing .changeColor p {
    font-size: 25px;
    color: var(--text-main-color);
    font-weight: var(--weigth-bold);
    margin-bottom: 5px;
}

.landing .changeColor .color {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.landing .changeColor .red {
    background: #ff0000;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
}

.landing .changeColor .blue {
    background: #0000ff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
}

.landing .changeColor .green {
    background: #008000;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
}

.landing .changeColor .orange {
    background: #ffa500;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
}

.landing .changeColor .active {
    opacity: 1;
    border: 3px solid #bababa;
}

.landing .settingBox .cangeBg {
    margin: 20px 10px;
    background: #ffffff;
    padding: 1rem 1.8rem;
    border-radius: 5px;
}

.landing .settingBox .cangeBg p {
    color: var(--text-main-color);
    font-weight: var(--weigth-bold);
    font-size: 12px;
    margin-bottom: 6px;
}

.landing .settingBox .cangeBg .select {
    display: flex;
    justify-content: space-around;
}

.landing .settingBox .cangeBg .select .yes,
.landing .settingBox .cangeBg .select .no {
    background-color: orange;
    padding: 5px 12px;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 5px;
}

.landing .settingBox .cangeBg .select .active {
    opacity: 1;
}

.changeFont {
    margin: 20px 10px;
    background: #ffffff;
    padding: 1rem 1.8rem;
    border-radius: 5px;
}

.changeFont p {
    color: var(--text-main-color);
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}

.changeFont select {
    color: var(--text-main-color);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    border: .5px solid var(--text-main-color);
    padding: 3px;
    border-radius: 5px;
    outline: none;
}

.changeFont select option {
    color: white;
    background-color: var(--text-color);
    font-size: 16px;
    padding: 4px 0;
}


/* strt nav bulets */

.navBullets {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 999999;
}

.navBullets .bullet {
    width: 30px;
    height: 30px;
    border: 2px solid var(--text-main-color);
    margin: 5px auto;
    cursor: pointer;
    position: relative;
    background-color: #00000042;
    border-radius: 10px;
}

.navBullets .bullet .bageGo {
    right: 110px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    color: #fff;
    background-color: var(--text-main-color);
    padding: 5px 8px;
    font-weight: var(--weigth-bold);
    border-radius: 4px;
    text-align: center;
    display: none;
}

.navBullets .bullet .bageGo::after {
    content: '';
    position: absolute;
    border-color: transparent transparent transparent var(--text-main-color);
    border-width: 15px;
    border-style: solid;
    width: 0px;
    height: 0px;
    right: -20px;
    top: 0px;
}

.navBullets .bullet:hover .bageGo {
    display: block;
}

.landing svg {
    bottom: 0;
    position: absolute;
    width: 100%;
    color: rgb(236, 38, 38);
}


/* end nav bulets */


/* end Editing setting */


/* start AboutUs */

.AboutUs {
    margin: 0 30px;
    margin-top: 50px;
}

.AboutUs .content {
    display: flex;
}

.AboutUs .text-content {
    flex: 1;
    margin: 20px;
}

.AboutUs .text-content h1 {
    color: var(--text-main-color);
    margin-bottom: 20px;
    font-size: 38px;
}

.AboutUs .text-content p {
    line-height: 1.6;
}

.AboutUs .content .image {
    flex: 1;
    text-align: center;
}

.AboutUs .content .image img {
    width: 20rem;
}

.skills {
    background-color: var(--therd-bg);
    margin-top: 30px;
    padding-top: 20px;
}

.allBoxesSkills {
    padding: 20px;
}

.allBoxesSkills .box {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.allBoxesSkills .box .nameSkills {
    text-align: center;
    width: 150px;
    font-weight: var(--weigth-bold);
    color: var(--text-main-color);
}

.allBoxesSkills .box .prog {
    height: 20px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 4px;
    position: relative;
}

.allBoxesSkills .box .prog span {
    position: absolute;
    content: '';
    height: 100%;
    background-color: var(--text-main-color);
    border-radius: 4px;
    transition: all 0.4s;
}

.galary {
    margin-top: 30px;
    padding-top: 20px;
}

.allGalary {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.allGalary .box {
    margin: 2px 5px;
}

.allGalary .box img {
    height: 100px;
    border: 4px solid var(--text-main-color);
    transition: .5s;
}

.allGalary .box img:hover {
    box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.popup-over {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: hsla(0, 0%, 0%, 0.807);
    z-index: 1000;
}

.popupBox {
    position: fixed;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid var(--text-main-color);
    z-index: 1001;
}

.popupBox img {
    max-width: 100%;
}

.btnClose {
    position: absolute;
    background-color: var(--text-main-color);
    color: var(--therd-bg);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    font-weight: var(--weigth-bold);
    padding: 10px;
    cursor: pointer;
    top: -20px;
    right: -20px;
    transition: .5s;
}

.btnClose:hover {
    background-color: var(--therd-bg);
    color: var(--text-main-color);
}


/* time lime */

.timeline {
    background-color: var(--therd-bg);
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.timeline .alltimesBox h2 {
    margin: 20px 0;
    color: var(--text-main-color);
}

.timeline .time {
    position: relative;
    background-color: var(--text-main-color);
    width: fit-content;
    margin: auto;
    padding: 8px 20px;
    border-radius: 6px;
    color: #ffffff;
}

.timeline .alltimesBox {
    position: relative;
    overflow: hidden;
}

.timeline .alltimesBox::after {
    content: '';
    position: absolute;
    background-color: var(--text-main-color);
    width: 2px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    z-index: 0;
}

.timeline .content {
    margin-top: 20px;
    background: #ffffff;
    padding: 10px;
    border-radius: 6px;
}

.timeline .content p {
    line-height: 1.3;
    color: #777;
}

.timeline .alltimesBox .left,
.timeline .alltimesBox .right {
    position: relative;
    width: calc(50% - 25px);
}

.timeline .alltimesBox .left {
    float: left;
}

.timeline .alltimesBox .left::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    background: #ffffff;
    width: 19px;
    height: 19px;
    right: -35px;
    top: 55px;
    border: 1px solid var(--text-main-color);
    z-index: 1;
}

.timeline .alltimesBox .left .content::after {
    content: '';
    position: absolute;
    border-color: transparent transparent transparent rgb(255, 255, 255);
    border-width: 15px;
    border-style: solid;
    width: 0px;
    height: 0px;
    right: -25px;
    top: 50px;
}

.timeline .alltimesBox .right {
    float: right;
}

.timeline .alltimesBox .right::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    background: #ffffff;
    width: 19px;
    height: 19px;
    left: -35px;
    top: 55px;
    border: 1px solid var(--text-main-color);
    z-index: 1;
}

.timeline .alltimesBox .right .content::after {
    content: '';
    position: absolute;
    border-color: transparent rgb(255, 255, 255) transparent transparent;
    border-width: 15px;
    border-style: solid;
    width: 0px;
    height: 0px;
    left: -25px;
    top: 50px;
}

.features {
    margin-top: 40px;
    margin-bottom: 50px;
    background-color: #fff;
}

.features .allFeaturesBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    text-align: center;
}

.features .allFeaturesBox .box {
    margin-bottom: 40px;
    text-align: center;
}

.features .allFeaturesBox .box :nth-child(1) {
    font-size: 20px;
    color: var(--text-main-color);
    background-color: var(--therd-bg);
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 4px solid #777;
    outline: 2px solid var(--text-main-color);
}

.features .allFeaturesBox .box :nth-child(2) {
    font-size: 22px;
    color: #000;
    margin-bottom: 10px;
    padding: 10px 0px;
    position: relative;
}

.features .allFeaturesBox .box :nth-child(2)::after {
    content: '';
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background: var(--text-main-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.features .allFeaturesBox .box :nth-child(3) {
    font-size: 14px;
    margin: 0 10px;
    color: #777;
    line-height: 1.5;
    width: 95%;
}


/* stert testimonials */

.feedBack {
    margin-top: 20px;
    position: relative;
    padding: 20px;
}

.feedBack::before {
    position: absolute;
    content: '';
    position: absolute;
    background-color: var(--text-main-color);
    width: 50%;
    height: 100%;
    left: 0px;
    bottom: 0;
    z-index: -1;
}

.feedBack::after {
    position: absolute;
    content: '';
    position: absolute;
    background-color: var(--secnond-bg);
    width: 50%;
    height: 100%;
    right: 0px;
    bottom: 0;
    z-index: -1;
}

.feedBack .heading {
    font-size: 33px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.feedBack .alltestimonialsBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.feedBack .alltestimonialsBox .box {
    background-color: var(--therd-bg);
    padding: 20px;
    border-radius: 10px;
}

.feedBack .alltestimonialsBox .box p {
    line-height: 1.5;
    color: #777;
}

.feedBack .alltestimonialsBox .box .content {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.feedBack .alltestimonialsBox .box .content .fa-user-tie {
    background-color: var(--text-main-color);
    padding: 10px;
    border-radius: 50%;
    margin-right: 20px;
}


/* end feed back */


/* start contact */

.contact {
    margin-top: 40px;
    padding-top: 20px;
    background-image: linear-gradient(rgba(216, 216, 216, 0.767), rgba(216, 216, 216, 0.767), rgba(216, 216, 216, 0.767)), url(../image/bg-contact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -99999;
    padding-bottom: 20px;
}

.contact form {
    overflow: hidden;
    margin: auto;
}

.contact form input,
textarea {
    display: block;
    width: 100%;
    padding: 8px 14px;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid var(--text-main-color);
    font-size: 16px;
}

.contact form input::placeholder,
textarea::placeholder {
    color: var(--text-main-color);
}

textarea {
    resize: none;
    height: 195px;
}

.contact form .left {
    float: left;
    width: 49%;
}

.contact form .right {
    float: right;
    width: 49%;
}

.contact form .right button {
    width: 100%;
    background: var(--text-main-color);
    border: 2px solid var(--First-bg);
    font-size: 20px;
    padding: 5px 0;
    margin-top: 9px;
    cursor: pointer;
}


/* end contact */

footer {
    background-color: var(--text-main-color);
    text-align: center;
    padding: 10px 0;
    font-size: 22px;
}